.content
  .border(class=type.toLowerCase())
    .header
      .header
        .name=name
        .title=title
        .type=type

    .card-details
      p.instructions=instructions
      p.reward=reward
      p.reward_text=reward_text