.content
  .border(class=typeof race === "undefined" ? "" : race.toLowerCase())
    .header
      .header
        .name=name
        .title=title
        .race=race

    .card-details
      p.instructions=instructions
      p.reward=reward
      p.reward_text=reward_text